<div class="team-boxed">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Wonderful and caring pet sitters all around the world</h2>
      <p class="text-center">Because your pets matter, wherever you live</p>
    </div>
    <div class="people" id="cards" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      <%= link_to new_booking_path, class: 'card-user-link' do %>
        <div class="col-12 item">
          <% @users.each_with_index do |user, index| %>
            <% if user.pet_sitter %>
              <div class="box">
                <div class= "profil">
                  <img class="rounded-circle" src="https://source.unsplash.com/random/200x200">
                    <h2><%= user.name %></h2>
                    <p><%= user.location %></p>
                </div>
                <div class="user-map" id="map-<%= index %>"
                    style="width: 100%; height: 250px"
                    data-position="[<%= user.longitude %>, <%= user.latitude %>]"
                    data-popup="<%= render partial: 'info_window', locals: { user: user } %>"
                    data-image="<%= asset_url('petsittericon.jpg') %>"
                  >
                </div>
              </div>
            <% end %>
          <% end %>

              <%#<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> %>
            <%# </div> %>
        </div>
      <% end %>
    </div>
  </div>
</div>

            <%#<div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div> %>
          <%# </div> %>
