<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= image_path 'Banner2.jpeg' %>')">
  <div>
    <h1>Our Story</h1>
    <h2>We understand pets</h2>
    <p>We have been connecting hundreds of thousands of pet parents <br>
    with loving pet sitters and we can’t wait to do the same for you.</p>
  </div>
</div>

<div class="card-product">
  <div class="card-product-infos">
  <%= image_tag 'Banner3.jpeg' %>
    <h3>Our Purpose</h3>
    <p>We want to make it easy for you to find and book a pet sitter in your
      local neighbourhood. So whether you are going away, need someone to drop in to
      check on your pet while you’re at work or take your dog for a sniff around
      the block, we’ve got a sitter for you</p>
  </div>

  <div class="card-product-infos">
    <h3>Our Values</h3>
    <p>At Pet Sitter, we aim to foster a thriving community dedicated to connecting
    and improving the wellbeing of pets. We understand that it takes a lot of faith
    to trust someone to look after a fur member of your family. This is why trust
    and safety is a very big part of Pet Sitter’s core values.</p>
    <%= image_tag 'Banner1.jpeg' %>
  </div>

  <div class="card-product-infos">
  <%= image_tag 'Banner2.jpeg' %>
    <h3>Why us ?</h3>
    <ul>
      <p><strong>When you book through Pawshake you can expect:</strong></p>
      <br>
      <li>Secure online payment</li>
      <li>Verified reviews</li>
      <li>Happiness Guarantee</li>
      <li>Booking Guarantee</li>
    </ul>
  </div>
</div>

<div class="card-review" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('<%= image_path 'Banner3.jpeg' %>')">
  <div>
  <h3>Guest Review</h3>
  <p>"James is an amazing pet sitter. He took care of our French Bulldog as <br>
  if it was his own. We enjoyed receiving tons of pictures every day. <br>
  We could see he is truly an animal lover and that our frenchie was <br>
  very happy - spoiled rotten. James is so much more than just a pet sitter!"</p>
  <p>⭐️⭐️⭐️⭐️⭐️</p>
  <p id="signature">by Ahlee</p>
  </div>
</div>
