<%= form_tag users_path, method: :get do %>
  <div class="search-bar search-form-control form-group">
    <%= text_field_tag :query,
      params[:query],
      class: "form-control string required",
      placeholder: "Where is your location ?"
    %>
    <%= button_tag "Search", type: "submit", class: "btn btn-flat" do %>
      <i class="fas fa-search"></i> Search
    <% end %>
  </div>
<% end %>


<div class="banner">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="main-text">
        <h1>Find a loving local pet sitter or dog sitter</h1>
        <p>Who treats your pet like family</p>
      </div>
      <div class="carousel-item active carousel-div">
        <%= image_tag 'Banner1.jpg' %>
      </div>
      <div class="carousel-item carousel-div">
        <%= image_tag 'Banner2.jpg' %>
      </div>
      <div class="carousel-item carousel-div">
        <%= image_tag 'Banner3.jpg' %>
      </div>
    </div>
  </div>
</div>
